

<div class='row'>
<div class="col-xs-12 col-sm-6 col-md-5">

  <input type="text" ng-model="search" class="search-query" placeholder="Search"> 
  <a href="#/new"  class="gecko-add">
    <span class="glyphicon glyphicon-plus"></span>
    New Book
  </a>
  <ul class="list-group ">

  <li ng-repeat="book in books | filter:search | orderBy:'title'" class="list-group-item" ng-class="{active: element == book.id}">

    <table>
      <tr>
        <td width="100%">
          <a href="" ng-click="go('{{book.id}}')"  class="visible-sm visible-md ">
            <span>{{book.title}}</span> 
          </a>
          <a  href="#/detail/{{book.id}}"  class=" hidden-sm hidden-md ">
            {{book.title}}
          </a>
        </td>
        <td width="55px" class="gecho-icons">
          
            <a class="glyphicon glyphicon-edit" href="#/edit/{{book.id}}"></a>
            <span class="glyphicon glyphicon-remove-circle" ng-click="delete('{{book.id}}')"></span>
          
        </td>
      </tr>
    </table>
  </li>
  </ul>

</div>

<my-sub-area id='subview' ng-show="bookView" class="visible-sm visible-md col-xs-7 col-sm-6 col-md-5"></my-sub-area>

<div>